@{
    ViewBag.Title = "Home";

}

<div class="index-h" style="text-align:center">
    Welcome to Subject <br> Handling
</div>
    <div class="btn-group  btn-group-lg" role="group" aria-label="Basic example" id="HomeBTGroup">
        <a type="button" class="btn btn-primary" href="Subject/Create" id="HomeBT">Add New Subject</a>
        <a type="button" class="btn btn-primary" href="Subject/SubjectList" id="HomeBT">Subject Details</a>
</div>
